/* =Navigation : Sub-Menu
===================================================== */

/*
 * Styling Dropdown Toggle
 */

.menu-item-has-children {

  // background-color: rgba($color-brand-tertiary, .6);

  .dropdown-toggle {

    display: none;

  }

  @include breakpoint(small) {

    background-color: transparent;

    > a {

      &:after {

        position: relative;
        top: -(rem(2));

        display: inline-block;
        border: rem(6) solid transparent;
        margin-left: $unit-xs;

        vertical-align: middle;

        border-top-color: $color-link;

        content: "";

      }

    }

    > a .dropdown-toggle {

      display: inline-block;

      display: none; // Hide temporarily

    }

    &:hover > a,
    &.focus > a {

      color: #fff;
      background-color: $color-link;

      &:after {

        border-top-color: #fff;

      }

    }

    &:hover > .sub-menu,
    &.focus > .sub-menu {

      left: 0;

    }

    &.current-menu-item > a:after {

      border-top-color: #fff;

    }

  }

}

/*
 * Styling Sub menu
 */

.sub-menu {



  @include list-reset();

  .menu-item {

    text-transform: none;
    font-weight: $regular;
    font-family: $font-body;

  }

  @include breakpoint(to-small) {

    a {

      padding-left: 2em;

    }

  }

  @include breakpoint(small) {

    position: absolute;
    top: 100%;
    left: -999em;
    z-index: $z-index-navigation-submenu;

    min-width: rem(260);

    background-color: $color-link;

    box-shadow: 0 0 10px 5px rgba(138, 138, 138, 0.15);

    .menu-item {

      width: 100%;
      margin: 0;
      border-bottom: 2px solid $color-brand-primary;
      text-align: left;

      &:hover,
      &.current-menu-item {

        border-top-color: $color-brand-primary;

      }

    }


    a {

      padding: rem(10) $unit-s;

      color: $color-text;

    }

    .current-menu-item > a {
    
        color: #fff;
    
    }

  } // breakpoint(small)

  @include breakpoint(medium) {

    a {

      padding-left: $unit-m;
      padding-right: $unit-m;

    }

  } // breakpoint(medium)

  @include breakpoint(large) {

    a {

      padding-left: $unit-l;
      padding-right: $unit-l;

    }

  } // breakpoint(large)

}

