/* =Sponsors widget
===================================================== */

// Widget: Sponsors
//
// Custom footer widget with sponsors shortcode
// [sponsors]
//
// Markup: sponsors.html
//
// Style guide: 6.widget.text-sponsors


.wcb_widget_sponsors .sponsor-logo {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.wcb_widget_sponsors .sponsor-logo img {
  margin-left: auto;
  margin-right: auto;
}