/* =Footer-widgets
===================================================== */


@media (min-width: $extra-large-value) {

  #footer-widgets {

    display: flex;

  }

  #footer-widgets .footer-widgets-block {

    flex: 1 1;

  }

  #footer-widget-2 {

    max-width: 30rem;

  }


  #footer-widgets .textwidget p {
    margin-right: 0;
  }

}
