/* =Subscribe widget
===================================================== */

// Widget: Subscribe
//
// Subscribe jetpack widget
//
// Markup: widget-subscribe.html
//
// Style guide: 6.widget.subscribe

.jetpack_subscription_widget {

  text-align: center;
  // overflow-x: hidden;
  background-color: $color-brand-tertiary;

  &:before {

    // background-image: $image-pattern-01;
    // background-color: $color-brand-tertiary!important;
    // background-size: 120px;
    // background-attachment: fixed;
    // background-position: 50% 0;

  }

  .widget-title {

    color: #fff;
  }

  p {

    margin: 0;
    color: rgba(255,255,255,.8);

  }

  input[type="email"] {

    width: 100%!important; // Override jetpack CSS

  }

  input[type="submit"] {

    width: 100%;
    color: $color-button-text;
    text-transform: uppercase;
    background-color: $color-button-primary;

    &:hover,
    &:focus,
    &:active {

      color: $color-button-text-hover;
      background-color: $color-button-primary-hover;

    }

  }

  #subscribe-text {

    margin-bottom: $unit-m;

  }

  #subscribe-email,
  #subscribe-submit {

    display: inline-block;
    width: rem(200);
    margin: rem(4);
    vertical-align: top;

  }

  #subscribe-email {

    @include breakpoint(small) {

      width: rem(400);

    }

  }

  #subscribe-submit {

  }

}