/* =Navigation : Menu-Toggle
===================================================== */

/*
 * Menu toggle
 */

.menu-toggle {

  padding: $unit-s $unit-s;
  margin: 0;

  margin-top: rem(2);
  width: 100%;

  // font-size: ms(0);
  font-size: 0; /* Hides the default "Primary menu" label */
  line-height: 24px;

  font-weight: $bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .05em;
  color: #fff;

  border-radius: 0;
  background-color: rgba($color-brand-tertiary, .9);

  cursor: pointer;

  &:hover,
  &:active,
  &:focus,
  &.focus {

    color: #fff;
    background-color: rgba($color-brand-tertiary, .9);

  }

  /* Replaces the "Primary menu" label */
  &:before {

    display: inline-block;

    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;

    content: "Menu";

  }

  &:after {

    position: relative;
    top: -(rem(2));

    display: inline-block;
    border: rem(6) solid transparent;
    margin-left: $unit-xs;

    vertical-align: middle;

    border-top-color: #fff;

    content: "";

  }

  &[aria-expanded="true"] {

    color: #fff;

    &:after {

      border-top-color: transparent;
      border-bottom-color: #fff;

    }

  }

  @include breakpoint(small) {

    display: none;

  }

}