/* =Settings: Colors
===================================================== */

// Typography
//
// Main fonts for the WordCamp Lausanne 2018 theme are Raleway.
//
// **Raleway** is used both for all headlines, and for body text, buttons, forms etc.
//
// Fonts are served from Google Fonts.
//
// Style guide: 1.typography

/* Modular scale */
$ms-base: 1em;
$ms-ratio: 1.25;

/* Fonts */
$font-brand-primary:              "Raleway", $helvetica;
$font-brand-secondary:            $font-brand-primary;

/* Font use case */
$font-body:                       $font-brand-primary;
$font-headline:                   $font-brand-secondary;

/* Font weights */
$hairline:                        100;
$thin:                            200;
$light:                           300;
$regular:                         400;
$medium:                          500;
$semibold:                        600;
$bold:                            700;
$black:                           900;